<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="sitio web oficial de All Sports, la mejor tienda de ventas de artículos deportivos de Argentina"
		/>
		<meta
			name="keywords"
			content="remeras, pantalones, medias, zapatillas, camisetas, shorts, remeras termicas, deportes, futbol"
		/>
		<!-- Bootstrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
			crossorigin="anonymous"
		/>
		<!-- Bootstrap Iconos -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
		/>
		<!-- Archivo de estilos propio -->
		<link rel="stylesheet" href="../style/style.css" />

		<title>All Sports | Tienda de deportes | Inicio</title>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="./index.html">
						<img
							src="../img/logo.png"
							alt=" Logo de All Sports"
							width="48"
							height="48"
							class="d-inline-block align-text-middle m-2 rounded"
						/>
						<span>All Sports</span>
					</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarNavDropdown"
						aria-controls="navbarNavDropdown"
						aria-expanded="false"
						aria-label="Barra de Navegacion"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav m-auto">
							<li class="nav-item">
								<a
									class="nav-link active"
									aria-current="page"
									href="./index.html"
									>Inicio</a
								>
							</li>
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									href="#"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									Categorías
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="./categorias.html?categoria=hombre">Hombre</a></li>
									<li><a class="dropdown-item" href="./categorias.html?categoria=mujer">Mujer</a></li>
									<li><a class="dropdown-item" href="./categorias.html?categoria=ninos">Niños</a></li>
								</ul>
							</li>
							<li class="nav-item">
								
								
								
<a class="nav-link active" aria-current="page" href="./contacto.html">Contacto</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="position-relative">
				<button
					id="contrast-btn"
					class="position-absolute top-0 end-0 me-3 mt-3 btn btn-dark"
				>
					<span class="bi bi-circle-half"> Contraste</span>
				</button>
			</div>
		</header>

		<main class="mb-5">
			<h1 class="mt-5 ms-3 text-center">All Sports</h1>
			<section>
				<h2 class="mt-5 text-center text-bg-primary p-2">
					Lleva tu rendimiento al siguiente nivel
				</h2>
				<article>
					<h3 class="mt-5 ms-3">Bienvenidos!</h3>
					<p class="mt-3 ms-3">
						Somos <span class="fw-bold">All Sports</span>, el lugar que elige
						toda <span class="fw-bold">Argentina</span> para comprar artículos
						deportivos.
					</p>
					<p class="mt-3 ms-3">
						Aquí encontrarás una amplia variedad de equipamiento y ropa
						deportiva de las mejores marcas, diseñadas para ayudarte a alcanzar
						tus metas.
					</p>
					<p class="mt-3 ms-3">
						Ya seas un atleta profesional o un entusiasta del fitness, estamos
						comprometidos en ofrecerte
						<span class="fw-bold"
							>productos de alta calidad y un servicio excepcional</span
						>.
					</p>
				</article>
			</section>
			<section>
				<h3 class="mt-4 ms-3 mb-5">Productos Destacados y Promociones</h3>
				<article class="container">
					<div class="row">
						<div class="col-9 col-md-6 mb-3">
							<div
								id="carouselIndex"
								class="carousel carousel-dark slide border border-secondary shadow-lg rounded"
								data-bs-ride="carousel"
							>
								<div class="carousel-indicators">
									<button
										type="button"
										data-bs-target="#carouselIndex"
										data-bs-slide-to="0"
										class="active"
										aria-current="true"
										aria-label="Slide 1"
									></button>
									<button
										type="button"
										data-bs-target="#carouselIndex"
										data-bs-slide-to="1"
										aria-label="Slide 2"
									></button>
									<button
										type="button"
										data-bs-target="#carouselIndex"
										data-bs-slide-to="2"
										aria-label="Slide 3"
									></button>
								</div>
								<div class="carousel-inner rounded">
									<div class="carousel-item active" data-bs-interval="10000">
										<img
											src="../img/resources-index/camiseta-argentina.webp"
											class="d-block w-100"
											alt="Camiseta Argentina Adidas Afa Authentic Titular 2024 Hombre"
										/>
										<div class="carousel-caption d-none d-md-block">
											<h4>$ 169.999</h4>
											<p>
												Camiseta Argentina Adidas Afa Authentic Titular 2024
												Hombre
											</p>
										</div>
									</div>
									<div class="carousel-item" data-bs-interval="2000">
										<img
											src="../img/resources-index/campera-argentina-mujer.webp"
											class="d-block w-100"
											alt="Campera Argentina Adidas Afa Anthem 2024 Mujer"
										/>
										<div class="carousel-caption d-none d-md-block">
											<h4>$ 189.999</h4>
											<p>Campera Argentina Adidas Afa Anthem 2024 Mujer</p>
										</div>
									</div>
									<div class="carousel-item">
										<img
											src="../img/resources-index/short-argentina-nino.webp"
											class="d-block w-100"
											alt="Short Argentina Adidas Afa Titular 2024 Niño/a"
										/>
										<div class="carousel-caption d-none d-md-block">
											<h4>$ 49.999</h4>
											<p>Short Argentina Adidas Afa Titular 2024 Niño/a</p>
										</div>
									</div>
								</div>
								<button
									class="carousel-control-prev"
									type="button"
									data-bs-target="#carouselIndex"
									data-bs-slide="prev"
								>
									<span
										class="carousel-control-prev-icon"
										aria-hidden="true"
									></span>
									<span class="visually-hidden">Anterior</span>
								</button>
								<button
									class="carousel-control-next"
									type="button"
									data-bs-target="#carouselIndex"
									data-bs-slide="next"
								>
									<span
										class="carousel-control-next-icon"
										aria-hidden="true"
									></span>
									<span class="visually-hidden">Siguiente</span>
								</button>
							</div>
						</div>
						<div class="col-9 col-md-6 mb-3">
							<div class="accordion" id="accordionIndex">
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingZero">
										<button
											class="accordion-button"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapseZero"
											aria-expanded="true"
											aria-controls="collapseZero"
										>
											<img
												src="../img/resources-index/modo.svg"
												alt="Logo de Modo"
											/>
											<span class="ms-3 fw-bold">Pagar con Modo</span>
										</button>
									</h2>
									<div
										id="collapseZero"
										class="accordion-collapse collapse show"
										aria-labelledby="headingZero"
										data-bs-parent="#accordionIndex"
									>
										<div class="accordion-body">
											<strong>Si pagas con Modo,</strong>
											te llevamos el producto sin cargo y podes pagarlo hasta en
											<strong>18 cuotas SIN INTERES!</strong>
											<p>Planes de financiación:</p>
											<ul>
												<li>3 cuotas sin interés</li>
												<li>6 cuotas sin interés</li>
												<li>9 cuotas sin interés</li>
												<li>12 cuotas sin interés</li>
												<li>18 cuotas sin interés</li>
											</ul>
											Los días <strong>lunes</strong> además tenes
											<strong>15% de descuento</strong> y los días
											<strong>viernes</strong> tenes
											<strong>10% de descuento</strong>.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
										<button
											class="accordion-button"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapseOne"
											aria-expanded="true"
											aria-controls="collapseOne"
										>
											<img
												src="../img/resources-index/naranja.svg"
												alt="Logo de Tarjeta Naranja"
											/>
											<span class="ms-3 fw-bold">Tarjeta Naranja</span>
										</button>
									</h2>
									<div
										id="collapseOne"
										class="accordion-collapse collapse"
										aria-labelledby="headingOne"
										data-bs-parent="#accordionIndex"
									>
										<div class="accordion-body">
											<strong>Si pagas con Tarjeta Naranja,</strong>
											te ofrecemos las siguientes financiaciones:
											<ul class="mt-2">
												<li>Plan Z</li>
												<li>3 cuotas sin interés</li>
												<li>6 cuotas sin interés</li>
											</ul>
											Los días <strong>martes</strong> además tenes
											<strong>10% de descuento</strong>.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingTwo">
										<button
											class="accordion-button collapsed"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapseTwo"
											aria-expanded="false"
											aria-controls="collapseTwo"
										>
											<img
												src="../img/resources-index/visa.svg"
												alt="Logo de Tarjeta Visa"
											/>
											<span class="ms-3 fw-bold">Tarjeta Visa</span>
										</button>
									</h2>
									<div
										id="collapseTwo"
										class="accordion-collapse collapse"
										aria-labelledby="headingTwo"
										data-bs-parent="#accordionIndex"
									>
										<div class="accordion-body">
											<strong>Si pagas con Tarjeta Visa,</strong>
											te ofrecemos las siguientes financiaciones:
											<ul class="mt-2">
												<li>3 cuotas sin interés</li>
												<li>6 cuotas sin interés</li>
												<li>9 cuotas sin interés</li>
											</ul>
											Los días <strong>jueves</strong> además tenes
											<strong>15% de descuento</strong>.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingThree">
										<button
											class="accordion-button collapsed"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapseThree"
											aria-expanded="false"
											aria-controls="collapseThree"
										>
											<img
												src="../img/resources-index/mastercard.svg"
												alt="Logo de Tarjeta Mastercard"
											/>
											<span class="ms-3 fw-bold">Tarjeta Mastercard</span>
										</button>
									</h2>
									<div
										id="collapseThree"
										class="accordion-collapse collapse"
										aria-labelledby="headingThree"
										data-bs-parent="#accordionIndex"
									>
										<div class="accordion-body">
											<strong>Si pagas con Tarjeta Mastercard</strong>
											te ofrecemos las siguientes financiaciones:
											<ul class="mt-2">
												<li>3 cuotas sin interés</li>
												<li>6 cuotas sin interés</li>
												<li>9 cuotas sin interés</li>
												<li>12 cuotas sin interés</li>
											</ul>
											Los días <strong>miércoles</strong> además tenes
											<strong>10% de descuento</strong>.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</section>
		</main>

		<footer class="mt-3 mb-1 bg-dark p-2 text-dark bg-opacity-25">
			<div class="container-fluid">
				<div class="row text-center">
					<div class="col-12 col-md-4">
						<div class="ms-2 d-block">
							<a
								href="https://www.instagram.com/"
								target="_blank"
								class="text-decoration-none"
								aria-label="Ir al perfil de Instagram"
							>
								<i class="bi bi-instagram text-danger"></i
								><span class="ms-1 text-dark">Instagram</span>
							</a>
						</div>
						<div class="ms-2 d-block">
							<a
								href="https://www.facebook.com/"
								target="_blank"
								class="text-decoration-none"
								aria-label="Ir al perfil de Facebook"
							>
								<i class="bi bi-facebook text-primary"></i
								><span class="ms-1 text-dark">Facebook</span>
							</a>
						</div>

						<div class="ms-2 d-block">
							<a
								href="https://x.com/"
								target="_blank"
								class="text-decoration-none"
								aria-label="Ir al perfil de Twitter"
							>
								<i class="bi bi-twitter-x text-dark"></i
								><span class="ms-1 text-dark">Twitter</span>
							</a>
						</div>
					</div>

					<div class="col-12 col-md-4 fw-bold copyright-element p-4">
						© Desarrollo Grupal 2024
					</div>

					<div class="col-12 col-md-4">
						<div class="ms-2 d-block">
							<a
								href="https://wa.me/54117771111"
								target="_blank"
								class="text-decoration-none"
								aria-label="Enviar mensaje por Whatsapp"
							>
								<i class="bi bi-whatsapp text-success"></i>
								<span class="ms-1 text-dark">Whatsapp</span>
							</a>
						</div>

						<div class="ms-2 d-block">
							<a
								href="mailto:info@allsports.com"
								class="text-decoration-none"
								aria-label="Enviar correo electrónico"
							>
								<i class="bi bi-envelope text-dark"></i>
								<span class="ms-1 text-dark">info@allsports.com</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="../js/index.js"></script>
		<!-- Bootstrap -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
