.nav-link:hover {
	border-bottom: solid 2px #3383df;
}

.card-product-selected {
	border: 1px solid black;
	box-shadow: 5px 15px 25px 15px rgba(0, 0, 0, 0.9);
}

.card-text,
.card-title {
	color: #000;
}
